
header {
  background-color: #00898b;
  color: #ffffff;
  padding: 20px 30px;
  text-align: center;
}

header h1 {
  font-size: 40px;
  margin: 0;
}

body {
  font-family:'Times New Roman', Times, serif;
  font-size: 18px;
  background-color: #fff8f0;
  background-image: url("../assets/21145941288d638.jpg");
  background-size: cover;
  background-position: center;
  color: #002b2c;
  margin: 0;
  padding: 0;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
}

main {
  padding: 40px 60px;
  flex: 1;
}

h2 {
  color: #00718b;
  font-size: 40px;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #ffffff;
}

caption {
  font-size: 30px;
  color: #000000;
  background-color: #ffffff;
  max-width: 500px;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
}

th {
  background-color: #005f8b;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 15px;
  text-align: left;
}

td {
  padding: 9px 15px;
  border-bottom: 1px solid #a0dce0;
  font-size: 15px;
  color: #00272c;
}

tr:nth-child(even) td {
  background-color: #e0f9ff;
}

footer {
  background-color: #00718b;
  color: #bbc3ff;
  text-align: center;
  padding: 16px;
  font-size: 20px;
}
